{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block body %}
<!--================ Hero sm Banner start =================-->
<section class="mb-30px">
    <div class="">
        <div class="hero-banner hero-banner--sm">
            <div class="hero-banner__content">
                <h1>Blog details</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog Details {{object.count}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--================ Hero sm Banner end =================-->
<!--================ Start Blog Post Area =================-->
<section class="blog-post-area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="main_blog_details">
                    <img class="img-fluid" src="{{object.image.url}}" alt="">
                    <a href="#">
                        <h4>{{object.title}}</h4>
                    </a>
                    <div class="user_details">
                        <div class="float-left">
                            <a href="#">{{object.category}}</a>
                        </div>
                        <div class="float-right mt-sm-0 mt-3">
                            <div class="media">
                                <div class="media-body">
                                    <h5>{{object.author}}</h5>
                                    <p>{{object.pub_date}}</p>
                                </div>
                                <div class="d-flex">
                                    <img width="42" height="42" src="{% static 'img/blog/user-img.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>{{object.body}}</p>
                    <blockquote class="blockquote">
                        <p class="mb-0">MCSE boot camps have its supporters and its detractors. Some people do not
                            understand why you should have to spend money on boot camp when you can get the MCSE study
                            materials yourself at a fraction of the camp price. However, who has the willpower to
                            actually sit through a self-imposed MCSE training.</p>
                    </blockquote>
                </div>
                <div>

                    <p class='lead'>Comments</p>
                    {% if request.user.is_authenticated %}
                    <form method="POST" action="."> {% csrf_token %}
                        {{ comment_form|crispy }}
                        <input type='submit' value='Post comment' class='btn btn-default'>
                    </form>
                    {% else %}
                    <p>You must login to comment </p>
                    {% endif %}
                    <hr />
                    {% for comment in comments %}

                    <blockquote>
                        <p>{{ comment.content }}</p>
                        <footer>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago |
                            {% if comment.children.count > 0 %}{{ comment.children.count }}
                            Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a
                                class='comment-reply-btn' href='#'>Reply</a> | </footer>
                        <div class='comment-reply' style="display: none;">
                            {% for child_comment in comment.children %}
                            <blockquote>
                                <p>{{ child_comment.content }}</p>
                                <footer>via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago
                                </footer>
                            </blockquote>
                            {% endfor %}
                            <form method="POST" action=".">
                                {% csrf_token %}
                                {{ comment_form|crispy }}
                                <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                                <input type='submit' value='Reply' class='btn btn-default'>
                            </form>
                        </div>

                    </blockquote>

                    <hr />
                    {% endfor %}
                </div>
            </div>
            {% block sidebar %}{% include 'sidebar.html' %}{% endblock sidebar%}
        </div>
        <!-- End Blog Post Siddebar -->
    </div>

</section>
<!--================ End Blog Post Area =================-->
{% endblock %}