{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
  <main class="site-main">
        <!--================Hero Banner start =================-->  
        <section class="mb-30px">
          <div class="">
            <div class="hero-banner">
              <div class="hero-banner__content">
                <h3>Tours & Travels</h3>
                <h1>Amazing Places on earth</h1>
                <h4>{% now 'M' %}, {% now 'Y' %}</h4>
              </div>
            </div>
          </div>
        </section>
        <!--================Hero Banner end =================-->  
    <!--================ Blog slider start =================-->  
    <!-- <h1 class="text-center mb-4">Latest Blog</h1>
    <section>
      <div class="container">
        <div class="owl-carousel owl-theme blog-slider">
          <div class="card blog__slide text-center">
            <div class="blog__slide__img">
              <img class="card-img rounded-0" src="{% static 'img/blog/blog-slider/blog-slide1.png' %}" alt="">
            </div>
            <div class="blog__slide__content">
              <a class="blog__slide__label" href="#">Fashion</a>
              <h3><a href="#">New york fashion week's continued the evolution</a></h3>
              <p>2 days ago</p>
            </div>
          </div>
          <div class="card blog__slide text-center">
            <div class="blog__slide__img">
              <img class="card-img rounded-0" src="{% static 'img/blog/blog-slider/blog-slide2.png' %}" alt="">
            </div>
            <div class="blog__slide__content">
              <a class="blog__slide__label" href="#">Fashion</a>
              <h3><a href="#">New york fashion week's continued the evolution</a></h3>
              <p>2 days ago</p>
            </div>
          </div>
          <div class="card blog__slide text-center">
            <div class="blog__slide__img">
              <img class="card-img rounded-0" src="{% static 'img/blog/blog-slider/blog-slide3.png' %}" alt="">
            </div>
            <div class="blog__slide__content">
              <a class="blog__slide__label" href="#">Fashion</a>
              <h3><a href="#">New york fashion week's continued the evolution</a></h3>
              <p>2 days ago</p>
            </div>
          </div>
          <div class="card blog__slide text-center">
            <div class="blog__slide__img">
              <img class="card-img rounded-0" src="{% static 'img/blog/blog-slider/blog-slide1.png' %}" alt="">
            </div>
            <div class="blog__slide__content">
              <a class="blog__slide__label" href="#">Fashion</a>
              <h3><a href="#">New york fashion week's continued the evolution</a></h3>
              <p>2 days ago</p>
            </div>
          </div>
          <div class="card blog__slide text-center">
            <div class="blog__slide__img">
              <img class="card-img rounded-0" src="{% static 'img/blog/blog-slider/blog-slide2.png' %}" alt="">
            </div>
            <div class="blog__slide__content">
              <a class="blog__slide__label" href="#">Fashion</a>
              <h3><a href="#">New york fashion week's continued the evolution</a></h3>
              <p>2 days ago</p>
            </div>
          </div>
          <div class="card blog__slide text-center">
            <div class="blog__slide__img">
              <img class="card-img rounded-0" src="{% static 'img/blog/blog-slider/blog-slide3.png' %}" alt="">
            </div>
            <div class="blog__slide__content">
              <a class="blog__slide__label" href="#">Fashion</a>
              <h3><a href="#">New york fashion week's continued the evolution</a></h3>
              <p>2 days ago</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!--================ Blog slider end =================-->  

    <!--================ Start Blog Post Area =================-->
    <section class="blog-post-area section-margin mt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            {% for post in page_obj %}
            <div class="single-recent-blog-post">
              <div class="thumb">
                <img class="img-fluid" src="{{post.image.url}}" alt="">
                <ul class="thumb-info">
                  <li><a href="#"><i class="ti-user"></i>{{post.author}}</a></li>
                  <li><a href="#"><i class="ti-notepad"></i>{{post.pub_date_pretty}}</a></li>
                  <li><a href="#"><i class="ti-themify-favicon"></i>{{post.comments.count}} Comments</a></li>
                </ul>
              </div>
              <div class="details mt-20">
                <a href="blog-single.html">
                  <h3>{{post.title}}</h3>
                </a>
                <p class="tag-list-inline">Tag: <a href="#">{{post.category}}</a></p>
                <p>{{post.summary}}</p>
                <a class="button" href="{{post.get_absoulate_url}}">Read More <i class="ti-arrow-right"></i></a>
              </div>
            </div>
            {% endfor %}
            
            <div class="row">
              <div class="col-lg-12">
                  <nav class="blog-pagination justify-content-center d-flex">
                      <ul class="pagination">
                        {% if page_obj.has_previous %}
                          <li class="page-item">
                              <a href="?page={{page_obj.previous_page_number}}" class="page-link" aria-label="Previous">
                                  <span aria-hidden="true">
                                      <i class="ti-angle-left"></i>
                                  </span>
                              </a>
                          </li>
                          {% endif %}
                          <li class="page-item active"><a href="?page={{page_obj.number}}" class="page-link">1</a></li>
                          {% if page_obj.has_next %}
                          <li class="page-item">
                              <a href="?page={{page_obj.next_page_number}}" class="page-link" aria-label="Next">
                                  <span aria-hidden="true">
                                      <i class="ti-angle-right"></i>
                                  </span>
                              </a>
                          </li>
                          {% endif %}
                      </ul>
                  </nav>
              </div>
            </div>
            
          </div>
          {% block sidebar %}{% include 'sidebar.html' %}{% endblock sidebar%}
        </div>
        </div>
    </section>
    <!--================ End Blog Post Area =================-->
  </main>

{% endblock %}