{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block body %}
    <!-- breadcrumb -->
	<div class="container"  style="margin-left:8rem !important">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Sign up
			</span>
		</div>
	</div>
    <div class="col-6 mt-4 pt-3 mb-4" style="margin: 0 auto;">
        <section>
            <div class="row wow fadeIn">
                <div class="container">
                    <h1>{% trans "Sign Up" %}</h1>
                    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class='btn btn-primary' type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock%}